.header {
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .22);

    &__title {
        font-weight: 600;
        font-size: 24px;
        color: #00d1b2;
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 0 0;
    }
}
