.page-experiment {
    .experiment-details {
        .item {
            display: flex;
            padding: 1em 1.5em;

            &__name {
                width: 150px;
                font-weight: 300;
            }

            &__value {
                font-weight: 600;
            }
        }
    }


    .experiment-variations {
        &__header {
            padding: 1em 1.5em;
        }
    }


    .experiment-reports {
        padding: 1em 1.5em;
    }


    .report-item {
        padding: 30px 0 60px;

        &:not(:last-of-type) {
            border-bottom: 1px solid $grey-lighter;
        }
    }


    .graph-inputs {
        .control-label {
            margin: 0 .5em 0 1.5em;
        }
    }

    .stats-table {
        tr td:first-child, tr th:not(:first-child) {
            font-weight: 600;
        }
    }
}
